<!DOCTYPE html>
<html> 
    <head>
        <title>@ViewBag.Title </title>
        @Styles.Render("~/Content/css")
        
        @Scripts.Render("~/bundles/jquery")
    	<link href="https://kendo.cdn.telerik.com/2015.2.902/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2015.2.902/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2015.2.902/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
	<!--<script src="https://kendo.cdn.telerik.com/2015.2.902/js/jquery.min.js"></script>-->
	<script src="https://kendo.cdn.telerik.com/2015.2.902/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2015.2.902/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2015.2.902/js/kendo.aspnetmvc.min.js"></script>
	<!--<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>-->
    
</head>
    <body>
        <div id="wrapper">
            @Html.Partial("getMenu");
            <div id="page-wrapper" style="padding:2px">
                @RenderBody()
            </div>
        </div>
        
        
        

    </body>
</html>
